---
name: Check for new SVN commits
on:
  workflow_dispatch:
  schedule:
    - cron: 0 4 * * *

jobs:
  check-svn-commits:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          show-progress: false

      - name: Checkout migrated repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          repository: aclemons/emailrelay
          path: emailrelay
          fetch-depth: 0
          show-progress: false

      - name: Install dependencies
        run: |
          # install updates
          sudo apt-get update
          sudo apt-get install subversion

      - name: Check migration status
        run: |
          cd emailrelay

          git log --all -1
          migrated_revision="$(git log --all -1 | grep revision= | cut -d';' -f2  | cut -d= -f2)"

          cd - > /dev/null

          svn info https://svn.code.sf.net/p/emailrelay/code

          latest_revision="$(svn info https://svn.code.sf.net/p/emailrelay/code | grep Revision: | cut -d' ' -f2)"
          next_revision=$(( migrated_revision + 1))

          printf '%s\n' "$latest_revision" > last-migrated

          {
            printf 'NEXT_REVISION=%s\n' "$next_revision"
            printf 'LATEST_REVISION=%s\n' "$latest_revision"
          } >> "$GITHUB_ENV"

          if [ "$migrated_revision" != "$latest_revision" ] ; then
            EOF="$(dd if=/dev/urandom bs=15 count=1 status=none | base64)"

            {
              printf "PR_CONTENT<<%s\n" "$EOF"
              printf 'New commits have been added to the upstream SVN repository:\n\n```\n'
              svn log -r $next_revision:HEAD https://svn.code.sf.net/p/emailrelay/code
              printf '```\n%s\n' "$EOF"
            } >> "$GITHUB_ENV"
          fi
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
        with:
          commit-message: '[auto] Migrated SVN revisions: r${{ env.NEXT_REVISION }}-r${{ env.LATEST_REVISION }}'
          title: '[auto] Migrated SVN revisions: r${{ env.NEXT_REVISION }}-r${{ env.LATEST_REVISION }}'
          body: |
            - ${{ env.PR_CONTENT }}
          branch: svn-updates-${{ env.LATEST_REVISION }}
